# IST 652 Lab 1 Solutions

#### Email: lanastas@syr.edu
#### Github: https://github.com/learn-python-and-r/IST-652

**Instructions**: For the NBAfile.py program, for each line, create a string using string formatting that puts the
team, attendance, and ticket prices into a formatted string. Each line should look something like:
‘The attendance at Atlanta was 13993 and the ticket price was $20.06’
Your program should then print these strings instead of the lines. Submit your code and the
output of your program.

In [28]:
# This program reads a file and prints the lines and creates a list of items on the line
# open the file for reading (in the same directory as the program)

NBAfile = open ('NBA-Attendance-1989.txt', 'r')
# Full path: '/Users/jason/Dropbox/Teaching Spring 2020/IST 652 | Syracuse/Lab 1  Solutions/NBA-Attendance-1989.txt'

# If the file is not in the working directory then we have to use the full path
#NBAfile = open('~/Dropbox/Teaching/Syracuse-Scripting-2019/Lab 1  Solutions/NBA-Attendance-1989.txt','r')

# iterate over the lines of the file and count the number of lines

#count = 0 

NBAlist = [ ]

for line in NBAfile:

    # increment adds one to the count variable

    #count += 1 # This is desired but not necessary

    # strip the newline at the end of the line (and other white space from ends)

    textline = line.strip()
    
    
    textline = textline.split()
    
    #print(textline)
    NBAlist.append(textline)
 
NBAlist[0]

city = []
attendance = []
price = []

for item in NBAlist:
    city.append(item[0])
    attendance.append(item[1])
    price.append(item[2])

price


NBAfile.close()

## Solution 1

This is technically the "correct" solution and is the easiest to implmenent but is one of several ways to attack this problem.

In [9]:
# Line 1 of the .txt file
line = '    Atlanta 13993   20.06   '
print(line)

print(line.strip())

line_strip = line.strip()

linelist = line.split()
print(linelist)

linelist = linestrip.split()
print(linelist)

    Atlanta 13993   20.06
Atlanta 13993   20.06

AttributeError: 'str' object attribute 'strip' is read-only

In [20]:
range(0,1)

range(0, 1)

In [3]:
# This program reads a file and prints the lines and creates a list of items on the line
# open the file for reading (in the same directory as the program)

NBAfile = open ('NBA-Attendance-1989.txt', 'r')

# If the file is not in the working directory then we have to use the full path
#NBAfile = open('~/Dropbox/Teaching/Syracuse-Scripting-2019/Lab 1  Solutions/NBA-Attendance-1989.txt','r')

# iterate over the lines of the file and count the number of lines

#count = 0 

NBAlist = [ ]

for line in NBAfile:
    print(line.strip().split())

['Atlanta', '13993', '20.06']
['Boston', '14916', '22.54']
['Charlotte', '23901', '17']
['Chicago', '18404', '21.98']
['Cleveland', '16969', '19.63']
['Dallas', '16868', '17.05']
['Denver', '12668', '17.4']
['Detroit', '21454', '24.42']
['Golden_State', '15025', '17.04']
['Houston', '15846', '17.56']
['Indiana', '12885', '13.77']
['LA_Clippers', '11869', '21.95']
['LA_Lakers', '17378', '29.18']
['Miami', '15008', '17.6']
['Milwaukee', '16088', '14.08']
['Minnesota', '26160', '10.92']
['New_Jersey', '12160', '13.31']
['New_York', '17815', '22.7']
['Orlando', '15606', '20.47']
['Philadelphia', '14017', '19.04']
['Phoenix', '14114', '16.59']
['Portland', '12884', '22.19']
['Sacramento', '17014', '16.96']
['San_Antonio', '14722', '16.79']
['Seattle', '12244', '18.11']
['Utah', '12616', '18.41']
['Washington', '11565', '14.55']

In [33]:
# This program reads a file and prints the lines and creates a list of items on the line
# open the file for reading (in the same directory as the program)

NBAfile = open ('NBA-Attendance-1989.txt', 'r')

# If the file is not in the working directory then we have to use the full path
#NBAfile = open('~/Dropbox/Teaching/Syracuse-Scripting-2019/Lab 1  Solutions/NBA-Attendance-1989.txt','r')

# iterate over the lines of the file and count the number of lines

count = 0 

NBAlist = [ ]

for line in NBAfile:

    # increment adds one to the count variable

    #count += 1

    # strip the newline at the end of the line (and other white space from ends)

    textline = line.strip()
    
    # split the line on whitespace, creates an indexable list

    items = textline.split()

    # add the list of items to the NBAlist
    
    NBAlist.append(items)
    
    # print('The attendance for CITY was ATTENDANCE and the ticket price was TICKET PRICE.'.format(items[0], items[1], float(items[2])))
    
    
# Close the file
NBAfile.close()

NBAlist

for i in range(0,len(NBAlist)):
    print('The attendance for {:s} was {:s} and the ticket price was ${:,.2f}.'.format(NBAlist[i][0], NBAlist[i][1], float(NBAlist[i][2])))

The attendance for Atlanta was 13993 and the ticket price was $20.06.
The attendance for Boston was 14916 and the ticket price was $22.54.
The attendance for Charlotte was 23901 and the ticket price was $17.00.
The attendance for Chicago was 18404 and the ticket price was $21.98.
The attendance for Cleveland was 16969 and the ticket price was $19.63.
The attendance for Dallas was 16868 and the ticket price was $17.05.
The attendance for Denver was 12668 and the ticket price was $17.40.
The attendance for Detroit was 21454 and the ticket price was $24.42.
The attendance for Golden_State was 15025 and the ticket price was $17.04.
The attendance for Houston was 15846 and the ticket price was $17.56.
The attendance for Indiana was 12885 and the ticket price was $13.77.
The attendance for LA_Clippers was 11869 and the ticket price was $21.95.
The attendance for LA_Lakers was 17378 and the ticket price was $29.18.
The attendance for Miami was 15008 and the ticket price was $17.60.
The attendance for Milwaukee was 16088 and the ticket price was $14.08.
The attendance for Minnesota was 26160 and the ticket price was $10.92.
The attendance for New_Jersey was 12160 and the ticket price was $13.31.
The attendance for New_York was 17815 and the ticket price was $22.70.
The attendance for Orlando was 15606 and the ticket price was $20.47.
The attendance for Philadelphia was 14017 and the ticket price was $19.04.
The attendance for Phoenix was 14114 and the ticket price was $16.59.
The attendance for Portland was 12884 and the ticket price was $22.19.
The attendance for Sacramento was 17014 and the ticket price was $16.96.
The attendance for San_Antonio was 14722 and the ticket price was $16.79.
The attendance for Seattle was 12244 and the ticket price was $18.11.
The attendance for Utah was 12616 and the ticket price was $18.41.
The attendance for Washington was 11565 and the ticket price was $14.55.

# With Pandas (courtesy of Jakole Myers)

In [1]:
NBAfile = open('nba-attendance-1989.txt','r')
nbalist=[]
for line in NBAfile:
    textline = line.strip()
    items = textline.split()
    nbalist.append(items)

import pandas
import pandas as pd
from pandas import DataFrame
mylist = pd.DataFrame(nbalist)
mylist

               0      1      2
0        Atlanta  13993  20.06
1         Boston  14916  22.54
2      Charlotte  23901     17
3        Chicago  18404  21.98
4      Cleveland  16969  19.63
5         Dallas  16868  17.05
6         Denver  12668   17.4
7        Detroit  21454  24.42
8   Golden_State  15025  17.04
9        Houston  15846  17.56
10       Indiana  12885  13.77
11   LA_Clippers  11869  21.95
12     LA_Lakers  17378  29.18
13         Miami  15008   17.6
14     Milwaukee  16088  14.08
15     Minnesota  26160  10.92
16    New_Jersey  12160  13.31
17      New_York  17815   22.7
18       Orlando  15606  20.47
19  Philadelphia  14017  19.04
20       Phoenix  14114  16.59
21      Portland  12884  22.19
22    Sacramento  17014  16.96
23   San_Antonio  14722  16.79
24       Seattle  12244  18.11
25          Utah  12616  18.41
26    Washington  11565  14.55

In [3]:
for index, row in mylist.iterrows():
    print('The attendance at '+row[0]+' was '+row[1]+' and the ticket price was $'+row[2]+'.')

The attendance at Atlanta was 13993 and the ticket price was $20.06.
The attendance at Boston was 14916 and the ticket price was $22.54.
The attendance at Charlotte was 23901 and the ticket price was $17.
The attendance at Chicago was 18404 and the ticket price was $21.98.
The attendance at Cleveland was 16969 and the ticket price was $19.63.
The attendance at Dallas was 16868 and the ticket price was $17.05.
The attendance at Denver was 12668 and the ticket price was $17.4.
The attendance at Detroit was 21454 and the ticket price was $24.42.
The attendance at Golden_State was 15025 and the ticket price was $17.04.
The attendance at Houston was 15846 and the ticket price was $17.56.
The attendance at Indiana was 12885 and the ticket price was $13.77.
The attendance at LA_Clippers was 11869 and the ticket price was $21.95.
The attendance at LA_Lakers was 17378 and the ticket price was $29.18.
The attendance at Miami was 15008 and the ticket price was $17.6.
The attendance at Milwaukee was 16088 and the ticket price was $14.08.
The attendance at Minnesota was 26160 and the ticket price was $10.92.
The attendance at New_Jersey was 12160 and the ticket price was $13.31.
The attendance at New_York was 17815 and the ticket price was $22.7.
The attendance at Orlando was 15606 and the ticket price was $20.47.
The attendance at Philadelphia was 14017 and the ticket price was $19.04.
The attendance at Phoenix was 14114 and the ticket price was $16.59.
The attendance at Portland was 12884 and the ticket price was $22.19.
The attendance at Sacramento was 17014 and the ticket price was $16.96.
The attendance at San_Antonio was 14722 and the ticket price was $16.79.
The attendance at Seattle was 12244 and the ticket price was $18.11.
The attendance at Utah was 12616 and the ticket price was $18.41.
The attendance at Washington was 11565 and the ticket price was $14.55.